.services {
  margin: 8rem;
  border-radius: 10px;
  position: relative;
}

.services h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.card {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin: 2rem 18rem;
  position: relative;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  padding: 2rem 0 1rem 3rem;
  font-size: 2rem;
  color: #161616;
}

.subCard {
  position: relative;
  transition: transform 0.3s;
}

.subCard:hover {
  transform: scale(1.02);
}

.subCard h3 {
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.subCard li {
  padding-left: 7rem;
  list-style-type: none;
  font-weight: 500;
  text-decoration:none;
  transition: transform 0.3s;
}

.subCard li:hover {
  transform: translateX(5px);
}
.contactButton {
  position: absolute;
  top: 30px;
  right: 25px;
  display: flex;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(48, 47, 47),
    rgb(138, 134, 134)
  );
  color: white;
  transform: background-image 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactButton:hover {
  background-image: linear-gradient(
    to right,
    rgb(134, 132, 132),
    rgb(32, 32, 32)
  );
}
@media only screen and (max-width: 768px) {
  .services {
    margin: 2%;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  .card {
    margin: 2% 2%;
  }
  h2{
    padding-right: 5rem;
  }

  .subCard li {
    padding-right: 10%;
    padding-top: 2%;
  }

  a.contactButton {
    position: relative;
    margin: 0 2% 2rem;
    right: 0;
  }
}


/* footer */

.footerContainer {
  max-width: 1170px;
  margin: auto;
}
.footerRow {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #535353;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #333;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #f1f1f1;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #292b30;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
